* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  max-width: 1200px;
  margin: auto;
  scroll-behavior: smooth;
}

#navUl li {
  cursor: pointer;
}

#navUl li:hover {
  color: aqua;
}
